version: '3'
services:
    flask:
        build: .
        restart: always
        volumes:
            - ./code/:/app
        ports:
            - "5000:5000"
    
    db:
        image: mariadb
        restart: always
        command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
        environment:
            MARIADB_ROOT_PASSWORD: ITI%C10uD
            MARIADB_USER: dbadmin
            MARIADB_PASSWORD: ITI%C10uD
            MARIADB_DATABASE: demo1
        volumes:
            - db_data:/var/lib/mysql
        expose:
            - 3306

    phpmyadmin:
        image: phpmyadmin
        environment: 
            - PMA_HOSTS=db
        ports:
            - "8888:80"
volumes:
    db_data: