{% extends "template.html" %}

{% block content %}
  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">URL</th>
        <th scope="col">Country</th>
        <th scope="col">Name</th>
        <th scope="col">Sponsor</th>
        <th scope="col">Host</th>
      </tr>
    </thead>
    <tbody>
      {% for i in listspdtest.values() %}
        {% for j in i %}
        <tr>
          <td>{{ j["url"] }}</td>
          <td>{{ j["country"] }}</td>
          <td>{{ j["name"] }}</td>
          <td>{{ j["sponsor"] }}</td>
          <td>{{ j["host"] }}</td>
        </tr>
        {% endfor %}
      {% endfor %}

    </tbody>
  </table>

  <!-- https://stackoverflow.com/questions/24727977/get-nested-dict-items-using-jinja2-in-flask -->

</div>
  <!-- Columns are always 50% wide, on mobile and desktop -->
{% endblock %}